@import '../../../../utilities/variables';

.allert {
    display: block;
    position: relative;
    background-color: initial;
    cursor: pointer;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked~.checkmark {
            background-image: url('../../../../assets/icons/trash-black.png');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 20px 20px;
            transform: scale(1.26);
            
            p {
                font-weight: 600;
            }
        }
    }

    p {
        position: absolute;
        top: 40px;
        right: 10px;
        text-align: center;
        font-size: 12px;
        margin-top: 7px;
        user-select: none;
    }

    .checkmark {
        position: relative;
        top: 0;
        left: 0;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        background-color: rgb($red-color, 0.3);
        border: 2px solid $red-color;
        transition: 0.1s all ease-in-out;
    }
}
