$green-light-color: #5CBD9F;
$black-color: #212121;
$white-color: #f6f8ff;
$blue-dark-color: #212155;

$blue-color: #63BFF2;
$purple-color: #939DFF;
$yellow-color: #F2D775;
$green-color: #74C386;
$red-color: #FC6666;

