@import '../../../../utilities/variables';


.allert-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    align-items: stretch;
    width: 600px;
    height: 56px;
    margin-bottom: 5px;
    padding-right: 20px;
    border-radius: 20px 0px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(178, 178, 233, 0.19);

    h3 {
        color: $black-color;
        font-size: 16px;
        font-weight: 600;
    }

    span {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .flex-element {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        height: 100%;
    }

    .allert__id {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 100%;
        border-radius: 20px 0px;
        color: $black-color;
        background: rgb(92, 189, 158, 0.3);
    }

    .allert__name {
        flex-grow: 2;
        justify-content: flex-start;
        padding: 0 25px;
    }

    .allert__marker {
    }

    .allert__btns {
        display: flex;
        align-items: center;
        height: 100%;
        max-width: 60px;
        margin-left: 15px;

        button {
            width: 20px;
            height: 20px;
            background: initial;
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: contain;

            &:nth-child(1) {
                background-image: url('../../../../assets/icons/edit.png');
                margin-right: 20px;
            }

            &:nth-child(2) {
                background-image: url('../../../../assets/icons/trash.png');
            }
        }
    }
}